email-validator        1.2.1               
Flask                  1.1.1               
Flask-Bootstrap        3.3.7.1             
Flask-Login            0.6.1               
Flask-Mail             0.9.1               
Flask-Migrate          2.6.0               
Flask-Script           2.0.6               
Flask-SimpleMDE        0.3.0               
Flask-SQLAlchemy       2.5.1               
Flask-Uploads          0.2.1               
Flask-WTF              1.0.1                                     
setuptools             45.2.0              
SQLAlchemy             1.4.39              
