{% macro displayPosts(posts) %}


{% for post in post %}

<div class="col-md-3 mb-3 container">
    <div class="card text-justify p-md-1 h-100">
        <strong>
            <h4 class="card text-white bg-black p-1">{{post.user.username}}</h4>
        </strong>
        <em class="text-center p-0.2"> date posted: {{post.posted.strftime("%d %b %Y")}}</em>
        <br>
        <div class="card-body">
            <strong>{{post.title}}</strong>
            <br>
            <p>{{post.content}}</p>
            <br>
            <a href="{{url_for('main.post', id = post.id)}}">View Post</a>
        </div>
        <div class="m-lg-auto">
            <a href="{{url_for('main.upVote', id = post.id)}}"><i class="fas fa-arrow-alt-circle-up text-black"></i>
                <span>{{post.up_vote.count()}}</span></a>
            <a href="{{url_for('main.downVote', id = post.id)}}"> <i
                    class="fas fa-arrow-alt-circle-down text-danger"></i>
                <span><strong>{{post.down_vote.count()}}</strong></span></a>
        </div>
    </div>
</div>
<br>

{% endfor %}

{% endmacro %}