<div class="pitch">
    <table class="table table-bordered table-info table-primary">
        <tbody>
            <thead>
                <th> Title </th>
                <th> Category </th>
                <th> Content </th>
                <th> UpVotes </th>
                <th> DownVotes </th>
            </thead>

            {% for pitch in pitches %}
            <tr>
                <td>{{pitch.title}}</td>
                <td>{{pitch.category.name}}</td>
                <td>{{pitch.content}}</td>
                <td>{{pitch.up_vote.count()}}</td>
                <td>{{pitch.down_vote.count()}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>